tarballs

# final .otl
*.otl

# content backups within extracted otl file structures
*.bkp*

# ignore presets for now (until there's a way to store them in ascii)
presets/*

# vim swap files
*.swp

# backup dirs
examples/backup
